In [6]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

In [7]:
df = pd.read_csv("task_for_a_prod_analytics_trainee_part_c.csv")
df.head()

,hashed_user_id,user_age,user_sex,user_friends,user_communities_count,user_fans_count,user_subscriptions_count,device_brand,device_model,days_in_vk_1_week,...,messaging_total,calls_accepted,timespent_total,timespent_im,timespent_feed,timespent_photo,timespent_video,timespent_clips,timespent_audio,timespent_story
0,$1VAQ97BmCCZc,26,male,481,476,361,177,lge,LG-M250,7,...,1,0,501,0,55,0,0,0,0,0
1,$1v/FKogrWnz2,26,female,115,72,419,0,Apple,iPhone 7,7,...,23,0,0,0,0,0,0,0,0,0
2,$1eoMEtyVB3XM,26,female,297,317,2681,0,Apple,iPhone 11 Pro Max,7,...,33,0,0,0,0,0,0,0,0,0
3,$12ZhvNRMpcZU,20,male,147,130,216,0,samsung,SM-G970F,7,...,1,0,5085,101,2371,0,0,0,0,0
4,$1mD0tDgB13tk,39,male,138,311,51,33,NaN,NaN,7,...,3,0,1301,0,0,0,0,0,0,0

In [9]:
df["device_brand"].value_counts()

Apple         40272
samsung       18133
HONOR         11814
xiaomi         7478
Xiaomi         6804
Redmi          6466
HUAWEI         5549
realme         1085
POCO            920
asus            732
Meizu           670
ZTE             645
OPPO            629
vivo            622
OnePlus         588
Nokia           574
Sony            543
Lenovo          348
google          281
BQru            276
lge             266
Blackview       247
motorola        195
TECNO           147
TCL             122
DEXP            103
meizu            85
Itel             74
OUKITEL          74
DOOGEE           68
              ...
TIWELL            1
CMCC              1
KYOCERA           1
CUBE              1
HERCLS            1
perkbox           1
K4000 Plus        1
Rockchip          1
OEM               1
BLACKVIEW         1
Ursus             1
unknown           1
gm                1
NOA               1
thl               1
iMAN              1
GIONEE            1
welcome           1
Fairphone         1
Allwinner         1
Gigaset           1
F7                1
Leagoo            1
Nobby             1
Z15               1
Ixion             1
Sharp             1
NOMI              1
hyd               1
S_Tell            1
Name: device_brand, Length: 182, dtype: int64

In [3]:
df["is_male"] = (df["user_sex"] == "male").astype(int)
df = df.drop(["user_sex", "hashed_user_id", "device_brand", "device_model"], axis=1)
display(df.head())
display(df.shape)

,user_age,user_friends,user_communities_count,user_fans_count,user_subscriptions_count,days_in_vk_1_week,days_in_vk_2_weeks,days_in_vk_4_weeks,days_in_vk_8_weeks,messaging_total,calls_accepted,timespent_total,timespent_im,timespent_feed,timespent_photo,timespent_video,timespent_clips,timespent_audio,timespent_story,is_male
0,26,481,476,361,177,7,14,28,56,1,0,501,0,55,0,0,0,0,0,1
1,26,115,72,419,0,7,14,28,56,23,0,0,0,0,0,0,0,0,0,0
2,26,297,317,2681,0,7,14,28,56,33,0,0,0,0,0,0,0,0,0,0
3,20,147,130,216,0,7,14,28,56,1,0,5085,101,2371,0,0,0,0,0,1
4,39,138,311,51,33,7,14,28,56,3,0,1301,0,0,0,0,0,0,0,1

(125893, 20)

In [4]:
# from sklearn.preprocessing import StandardScaler
X = df.values

NameError: name 'df_cut' is not defined

In [ ]:
from sklearn.cluster import *

birch = Birch(threshold=0.65)
cluster = birch.fit(X)

In [ ]:
df["cluster"] = cluster
(cluster == 0).sum()

In [ ]:
df.groupby("cluster").mean()